{
  "openapi": "3.0.1",
  "info": {
    "description": "Photoshop v2 API Server for Adobe Firefly Services.",
    "license": {
      "name": "Adobe Creative API License",
      "url": "https://www.adobe.com/content/dam/cc/en/legal/terms/enterprise/pdfs/PSLT-AdobeCreativeAPI-WW-2024v2.pdf"
    },
    "title": "Photoshop v2 API endpoints",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://photoshop-api.adobe.io",
      "description": "Prod server."
    }
  ],
  "security": [
    {
      "Authorization": [],
      "X-Api-Key": []
    }
  ],
  "tags": [
    {
      "description": "Photoshop APIs for image processing operations",
      "name": "Photoshop APIs"
    },
    {
      "description": "APIs for retrieving job status information",
      "name": "Job Status"
    }
  ],
  "paths": {
    "/v1/auto-crop": {
      "post": {
        "description": "Generates smart crops, subject bounding boxes, and detects objects for an input image. The request is processed asynchronously. Poll GET /v2/status/{jobId} with the returned jobId for completion.",
        "operationId": "autoCrop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoCropRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not found - Requested resource was not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "servers": [
          {
            "description": "Production server.",
            "url": "https://image.adobe.io"
          }
        ],
        "summary": "Auto crop",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/create-artboard": {
      "post": {
        "operationId": "createArtboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArtboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Create an artboard",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/create-composite": {
      "post": {
        "operationId": "createComposite",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompositeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Create or edit a composite",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/edit": {
      "post": {
        "operationId": "edit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Edit an image with various adjustments",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/execute-actions": {
      "post": {
        "operationId": "executeActions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Execute Photoshop actions, scripts, and transformations",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/generate-manifest": {
      "post": {
        "operationId": "generateManifest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateManifestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAcceptedResponse"
                }
              }
            },
            "description": "Job accepted for processing"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid request payload"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - User not authorized or quota exhausted"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Validation error - Invalid input data"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too many requests - Rate limit exceeded. When present, Retry-After header (seconds) indicates delay before retrying."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Generate a manifest for given input image",
        "tags": [
          "Photoshop APIs"
        ]
      }
    },
    "/v2/status/{jobId}": {
      "get": {
        "description": "Retrieves the current status and details of a specific job including metadata, outputs, and processing information. Use this endpoint to poll jobs submitted to Photoshop v2 operations and POST /v1/auto-crop.",
        "operationId": "getJobStatus",
        "parameters": [
          {
            "description": "Unique identifier for the job to retrieve status information",
            "example": "550e8400-e29b-41d4-a716-446655440000",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            },
            "description": "Job status retrieved successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request - Invalid job ID format or missing required parameters"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing access token"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not found - Job with the specified ID does not exist"
          }
        },
        "summary": "Get Job Status",
        "tags": [
          "Job Status"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ActionResource": {
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "actionName": {
            "type": "string",
            "description": "The name of a specific action to execute within the action set. If omitted, all actions in the file are executed."
          },
          "source": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CreativeCloudFileIdResourceInput"
              },
              {
                "$ref": "#/components/schemas/CreativeCloudResourceInput"
              },
              {
                "$ref": "#/components/schemas/InlineContentResourceInput"
              },
              {
                "$ref": "#/components/schemas/LightroomResourceInput"
              },
              {
                "$ref": "#/components/schemas/UrlResourceInput"
              }
            ]
          }
        },
        "description": "Single Photoshop action resource (.atn or inline actionJSON). When present, the 'source' field is required."
      },
      "ActionsOptions": {
        "type": "object",
        "properties": {
          "actions": {
            "maxItems": 10,
            "minItems": 0,
            "type": "array",
            "description": "List of Photoshop actions. Can be .atn files or inline actionJSON. Optional.",
            "items": {
              "$ref": "#/components/schemas/ActionResource"
            }
          },
          "additionalContents": {
            "maxItems": 25,
            "minItems": 0,
            "type": "array",
            "description": "List of additional resources. Optional. These images, js, brushes can be referenced in inline actionJSON or in UXPusing placeholders `__ADDITIONAL_CONTENTS_PATH_0__`, `__ADDITIONAL_CONTENTS_PATH_1__`, etc. based on their array index.",
            "items": {
              "$ref": "#/components/schemas/AdditionalContentResource"
            }
          },
          "brushes": {
            "maxItems": 10,
            "minItems": 0,
            "type": "array",
            "description": "List of brush resources. External references only. Optional.",
            "items": {
              "$ref": "#/components/schemas/BrushResource"
            }
          },
          "fontOptions": {
            "$ref": "#/components/schemas/FontOptions"
          },
          "patterns": {
            "maxItems": 10,
            "minItems": 0,
            "type": "array",
            "description": "List of pattern resources. External references only. Optional.",
            "items": {
              "$ref": "#/components/schemas/PatternResource"
            }
          },
          "uxp": {
            "$ref": "#/components/schemas/UxpResource"
          }
        },
        "description": "Options configuration for the actions execution. At least one of actions or uxp is required."
      },
      "ActionsRequest": {
        "required": [
          "image",
          "options",
          "outputs"
        ],
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/ImageSource"
          },
          "options": {
            "$ref": "#/components/schemas/ActionsOptions"
          },
          "outputs": {
            "maxItems": 25,
            "minItems": 1,
            "type": "array",
            "description": "List of output asset details. Required. Maximum of 25 outputs allowed.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JpegOutput"
                },
                {
                  "$ref": "#/components/schemas/JsonOutput"
                },
                {
                  "$ref": "#/components/schemas/PngOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdcOutput"
                },
                {
                  "$ref": "#/components/schemas/TiffOutput"
                }
              ]
            }
          }
        }
      },
      "AddAdjustmentLayer": {
        "required": [
          "adjustments",
          "operation"
        ],
        "type": "object",
        "description": "Adjustment layer for applying image adjustments like brightness, contrast, hue/saturation, etc.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "adjustments": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BrightnessContrastAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/ColorBalanceAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/ExposureAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/HueSaturationAdjustments"
                  }
                ]
              },
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "AddBackgroundLayer": {
        "required": [
          "operation"
        ],
        "type": "object",
        "description": "Background layer for adding a background to the document.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "image": {
                "$ref": "#/components/schemas/ImageSource"
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "AddGroupLayer": {
        "required": [
          "operation"
        ],
        "type": "object",
        "description": "Group layer for organizing layers hierarchically.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "children": {
                "type": "array",
                "description": "Child layers in this group. Optional.",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AddAdjustmentLayer"
                    },
                    {
                      "$ref": "#/components/schemas/AddBackgroundLayer"
                    },
                    {
                      "$ref": "#/components/schemas/AddGroupLayer"
                    },
                    {
                      "$ref": "#/components/schemas/AddLayer"
                    },
                    {
                      "$ref": "#/components/schemas/AddSmartObjectLayer"
                    },
                    {
                      "$ref": "#/components/schemas/AddSolidColorLayer"
                    },
                    {
                      "$ref": "#/components/schemas/AddTextLayer"
                    },
                    {
                      "$ref": "#/components/schemas/DeleteLayer"
                    },
                    {
                      "$ref": "#/components/schemas/EditAdjustmentLayer"
                    },
                    {
                      "$ref": "#/components/schemas/EditBackgroundLayer"
                    },
                    {
                      "$ref": "#/components/schemas/EditGroupLayer"
                    },
                    {
                      "$ref": "#/components/schemas/EditLayer"
                    },
                    {
                      "$ref": "#/components/schemas/EditSmartObjectLayer"
                    },
                    {
                      "$ref": "#/components/schemas/EditSolidColorLayer"
                    },
                    {
                      "$ref": "#/components/schemas/EditTextLayer"
                    },
                    {
                      "$ref": "#/components/schemas/MoveLayer"
                    }
                  ]
                }
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "AddLayer": {
        "required": [
          "image",
          "operation"
        ],
        "type": "object",
        "description": "Image layer for adding raster images to the document.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "image": {
                "$ref": "#/components/schemas/ImageSource"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "AddOperation": {
        "required": [
          "placement",
          "type"
        ],
        "type": "object",
        "description": "Add operation for adding layers.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Operation"
          },
          {
            "type": "object",
            "properties": {
              "placement": {
                "$ref": "#/components/schemas/Placement"
              }
            }
          }
        ]
      },
      "AddSmartObjectLayer": {
        "required": [
          "operation",
          "smartObject"
        ],
        "type": "object",
        "description": "Smart object layer for embedding external files or vector graphics.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "smartObject": {
                "$ref": "#/components/schemas/SmartObject"
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "AddSolidColorLayer": {
        "required": [
          "fill",
          "operation"
        ],
        "type": "object",
        "description": "Fill layer for adding solid color layer.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "fill": {
                "$ref": "#/components/schemas/Fill"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "AddTextLayer": {
        "required": [
          "operation",
          "text"
        ],
        "type": "object",
        "description": "Text layer for adding text content in the document.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Defaults to false when adding layers."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/PixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "text": {
                "$ref": "#/components/schemas/Text"
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "AdditionalContentResource": {
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/PortableFileResourceInput"
          }
        },
        "description": "Single additional resource (images, js, brushes, etc.). When present, the 'source' field is required."
      },
      "AdditionalFont": {
        "type": "object",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/PortableFileResourceInput"
          }
        },
        "description": "Array of custom fonts needed in this document. Optional."
      },
      "Anchor": {
        "required": [
          "horizontal",
          "vertical"
        ],
        "type": "object",
        "properties": {
          "horizontal": {
            "type": "number",
            "description": "Horizontal anchor position. Required.",
            "format": "double"
          },
          "vertical": {
            "type": "number",
            "description": "Vertical anchor position. Required.",
            "format": "double"
          }
        },
        "description": "Anchor point coordinates for transformations and positioning."
      },
      "Apply": {
        "required": [
          "from",
          "to"
        ],
        "type": "object",
        "properties": {
          "from": {
            "minimum": 0,
            "type": "integer",
            "description": "From value. Required.",
            "format": "int32"
          },
          "to": {
            "minimum": 0,
            "type": "integer",
            "description": "To value. Required.",
            "format": "int32"
          }
        },
        "description": "Inclusive range (from/to) for character or paragraph styling. When present, both 'from' and 'to' are required."
      },
      "AreaFrame": {
        "required": [
          "type"
        ],
        "type": "object",
        "description": "Area text frame defining a bounded rectangular region for text content. Text will wrap within the specified bounds",
        "allOf": [
          {
            "$ref": "#/components/schemas/TextFrame"
          },
          {
            "type": "object",
            "properties": {
              "bounds": {
                "$ref": "#/components/schemas/Bounds"
              }
            }
          }
        ]
      },
      "ArtboardImageInput": {
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/FileResourceInput"
          }
        },
        "description": "List of input images for the artboard. Each image must have a source with an external file reference (URL, Creative Cloud file ID, or Creative Cloud path). Required."
      },
      "AutoStraighten": {
        "required": [
          "enabled"
        ],
        "type": "object",
        "properties": {
          "constrainCrop": {
            "type": "boolean",
            "description": "Whether to constrain crop the straightened image to remove blank edges",
            "default": true
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether auto straighten is enabled. Defaults to false when omitted. Explicit null is invalid.",
            "default": false
          },
          "uprightMode": {
            "type": "string",
            "description": "Upright mode options for auto straighten",
            "enum": [
              "auto",
              "full",
              "level",
              "vertical"
            ]
          }
        },
        "description": "Auto straighten configuration with options"
      },
      "AutoCropAspectRatio": {
        "type": "string",
        "description": "Desired aspect ratio for generated crops.",
        "enum": [
          "1:1",
          "16:9",
          "9:16",
          "4:3",
          "3:4",
          "4:5",
          "5:4",
          "3:2",
          "2:3",
          "21:9"
        ]
      },
      "AutoCropBoundingBox": {
        "required": [
          "x",
          "y",
          "width",
          "height"
        ],
        "type": "object",
        "properties": {
          "height": {
            "type": "number",
            "description": "Height of the bounding box."
          },
          "url": {
            "type": "string",
            "description": "Presigned URL for the cropped image. Only present when outputType is 'images'."
          },
          "width": {
            "type": "number",
            "description": "Width of the bounding box."
          },
          "x": {
            "type": "number",
            "description": "X coordinate of the bounding box."
          },
          "y": {
            "type": "number",
            "description": "Y coordinate of the bounding box."
          }
        }
      },
      "AutoCropCrop": {
        "required": [
          "boundingBoxes"
        ],
        "type": "object",
        "properties": {
          "boundingBoxes": {
            "type": "array",
            "description": "List of bounding boxes for the generated crop.",
            "items": {
              "$ref": "#/components/schemas/AutoCropBoundingBox"
            }
          }
        }
      },
      "AutoCropImageMediaType": {
        "type": "string",
        "description": "The media type of the input image. Supported values are image/jpeg, image/png, and image/webp.",
        "enum": [
          "image/jpeg",
          "image/png",
          "image/webp"
        ]
      },
      "AutoCropInputImage": {
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "mediaType": {
            "$ref": "#/components/schemas/AutoCropImageMediaType"
          },
          "source": {
            "$ref": "#/components/schemas/AutoCropUrlResource"
          }
        },
        "description": "The input image for the auto-crop operation."
      },
      "AutoCropMode": {
        "type": "string",
        "description": "Mode for the auto crop operation. 'smartCrop' and 'subjectCrop' generate crops using aspectRatio with optional zoom. 'fullSceneDetection' and 'objectDetection' detect subjects or objects in the scene.",
        "enum": [
          "smartCrop",
          "subjectCrop",
          "fullSceneDetection",
          "objectDetection"
        ]
      },
      "AutoCropObjectDetection": {
        "required": [
          "objectName",
          "boundingBoxes",
          "confidence"
        ],
        "type": "object",
        "properties": {
          "boundingBoxes": {
            "type": "array",
            "description": "Bounding boxes enclosing the detected object in {x, y, width, height} format.",
            "items": {
              "$ref": "#/components/schemas/AutoCropBoundingBox"
            }
          },
          "confidence": {
            "type": "number",
            "description": "Confidence score for the detected object."
          },
          "objectName": {
            "type": "string",
            "description": "Name of the detected object."
          }
        }
      },
      "AutoCropOutput": {
        "required": [
          "subject",
          "objects",
          "crops"
        ],
        "type": "object",
        "properties": {
          "crops": {
            "type": "array",
            "description": "Generated crops for the input image.",
            "items": {
              "$ref": "#/components/schemas/AutoCropCrop"
            }
          },
          "objects": {
            "type": "array",
            "description": "Detected objects in the input image.",
            "items": {
              "$ref": "#/components/schemas/AutoCropObjectDetection"
            }
          },
          "subject": {
            "type": "array",
            "description": "Subject crops detected in the input image.",
            "items": {
              "$ref": "#/components/schemas/AutoCropCrop"
            }
          }
        },
        "description": "Auto crop output details."
      },
      "AutoCropOutputType": {
        "type": "string",
        "description": "Output type for the auto crop operation. 'images' returns cropped images with presigned URLs (default). 'boundingBoxes' returns only bounding box coordinates.",
        "default": "images",
        "enum": [
          "images",
          "boundingBoxes"
        ]
      },
      "AutoCropRequest": {
        "required": [
          "image",
          "mode"
        ],
        "type": "object",
        "properties": {
          "aspectRatio": {
            "description": "Desired aspect ratio(s) for generated crops. Accepts either a single enum string or an array of up to 20 strings. Allowed only for 'smartCrop' and 'subjectCrop'. When omitted, the service defaults to 1:1. An empty array is treated as absent.",
            "example": [
              "16:9",
              "1:1",
              "4:3"
            ],
            "oneOf": [
              {
                "$ref": "#/components/schemas/AutoCropAspectRatio"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AutoCropAspectRatio"
                }
              }
            ]
          },
          "focus": {
            "type": "array",
            "description": "Focus labels, ordered by preference, used to prioritize objects during cropping or as detection targets. Required for 'subjectCrop' and 'objectDetection'; must be empty for 'smartCrop' and 'fullSceneDetection'.",
            "example": [
              "logo",
              "person"
            ],
            "items": {
              "type": "string"
            }
          },
          "image": {
            "$ref": "#/components/schemas/AutoCropInputImage"
          },
          "mode": {
            "$ref": "#/components/schemas/AutoCropMode"
          },
          "outputType": {
            "$ref": "#/components/schemas/AutoCropOutputType"
          },
          "zoom": {
            "description": "Optional zoom level(s) paired with aspectRatio. Accepts either a number or an array of up to 20 numbers in (0, 1]. Must not be sent without aspectRatio. When aspectRatio is an array, zoom may be omitted or must be a matching non-empty array.",
            "example": [
              0.9,
              0.8,
              0.85
            ],
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            ]
          }
        }
      },
      "AutoCropUrlResource": {
        "required": [
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL of the resource. Only allow-listed domains are accepted as input URLs (e.g. amazonaws.com, windows.net, dropboxusercontent.com, assets.frame.io, storage.googleapis.com, adobe.io, azureedge.net, smartcreatives.stg.walmart.com)."
          }
        },
        "description": "The source of the input image."
      },
      "BaseAdjustment": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Adjustment type. Allowed values: hue_saturation, brightness_contrast, exposure, color_balance",
            "enum": [
              "hue_saturation",
              "brightness_contrast",
              "exposure",
              "color_balance"
            ]
          }
        },
        "description": "Adjustment settings to apply. Must specify exactly one adjustment type (brightness_contrast, hue_saturation, exposure, or color_balance).",
        "discriminator": {
          "propertyName": "type"
        }
      },
      "BlendOptions": {
        "type": "object",
        "properties": {
          "blendMode": {
            "type": "string",
            "description": "Blend mode of a layer",
            "enum": [
              "normal",
              "dissolve",
              "darken",
              "multiply",
              "color_burn",
              "linear_burn",
              "darker_color",
              "lighten",
              "screen",
              "color_dodge",
              "linear_dodge",
              "lighter_color",
              "overlay",
              "soft_light",
              "hard_light",
              "vivid_light",
              "pin_light",
              "hard_mix",
              "difference",
              "exclusion",
              "subtract",
              "divide",
              "hue",
              "saturation",
              "color",
              "luminosity"
            ]
          },
          "opacity": {
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "description": "Opacity percentage for the blend effect. Range: 0-100. Defaults to 100 when adding new layers. Optional for edits.",
            "format": "int32"
          }
        },
        "description": "Blend options for layer effects, including opacity settings."
      },
      "Bounds": {
        "type": "object",
        "properties": {
          "bottom": {
            "type": "integer",
            "description": "Bottom coordinate in pixels. Optional.",
            "format": "int32"
          },
          "left": {
            "type": "integer",
            "description": "Left coordinate in pixels. Optional.",
            "format": "int32"
          },
          "right": {
            "type": "integer",
            "description": "Right coordinate in pixels. Optional.",
            "format": "int32"
          },
          "top": {
            "type": "integer",
            "description": "Top coordinate in pixels. Optional.",
            "format": "int32"
          }
        },
        "description": "Area boundaries"
      },
      "BrightnessContrast": {
        "type": "object",
        "properties": {
          "brightness": {
            "maximum": 150,
            "minimum": -150,
            "type": "integer",
            "description": "The adjustment layer's brightness. Range: -150 to 150. Defaults to 0 when adding new layers. Optional for edits",
            "format": "int32"
          },
          "contrast": {
            "maximum": 150,
            "minimum": -150,
            "type": "integer",
            "description": "The adjustment layer's contrast. Range: -150 to 150. Defaults to 0 when adding new layers. Optional for edits",
            "format": "int32"
          }
        },
        "description": "Brightness and contrast adjustment settings"
      },
      "BrightnessContrastAdjustments": {
        "required": [
          "brightnessContrast",
          "type"
        ],
        "type": "object",
        "description": "Brightness and contrast adjustment",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseAdjustment"
          },
          {
            "type": "object",
            "properties": {
              "brightnessContrast": {
                "$ref": "#/components/schemas/BrightnessContrast"
              }
            }
          }
        ]
      },
      "BrushResource": {
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/PortableFileResourceInput"
          }
        },
        "description": "Single brush resource (.abr, etc.). When present, the 'source' field is required."
      },
      "CharacterStyle": {
        "type": "object",
        "properties": {
          "autoLeading": {
            "type": "boolean",
            "description": "When true, line height is calculated automatically based on the font size. When false, custom lineHeight is applied. Optional.",
            "default": false
          },
          "capsOption": {
            "type": "string",
            "description": "Text capitalization option",
            "enum": [
              "normal_caps",
              "small_caps",
              "all_caps",
              "all_small_caps"
            ]
          },
          "font": {
            "$ref": "#/components/schemas/Font"
          },
          "fontAlpha": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "Font alpha/transparency value. Optional. Default is 1.0.",
            "format": "double"
          },
          "fontColor": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FontCmyk"
              },
              {
                "$ref": "#/components/schemas/FontGray"
              },
              {
                "$ref": "#/components/schemas/FontLab"
              },
              {
                "$ref": "#/components/schemas/FontRgb"
              }
            ]
          },
          "fontSize": {
            "type": "number",
            "description": "Font size in pixels. Optional. Default is 30.",
            "format": "double"
          },
          "letterSpacing": {
            "type": "number",
            "description": "Letter spacing in pixels. Optional. Default is 0.",
            "format": "double"
          },
          "lineHeight": {
            "type": "number",
            "description": "Line height (leading) in pixels. Optional. This value represents the unscaled leading stored on the character style. If the text layer carries a non-identity transform, for example because the bounding box was resized in Photoshop, the rendered leading becomes lineHeight x the layer's vertical scale factor. To get exact rendered pixel leading, ensure the layer has no residual scaling (transformMode: none with no scaling Transform applied), or pre-divide the desired rendered leading by the layer's current vertical scale. The same scaling behavior applies to fontSize.",
            "format": "double",
            "default": 36
          },
          "syntheticBold": {
            "type": "boolean",
            "description": "Whether to apply synthetic bold. Optional. Default is false."
          },
          "syntheticItalic": {
            "type": "boolean",
            "description": "Whether to apply synthetic italic. Optional. Default is false."
          },
          "underline": {
            "type": "boolean",
            "description": "Whether to apply underline. Optional. Default is false."
          }
        },
        "description": "Character-level styling properties for text."
      },
      "CharacterStyleRange": {
        "type": "object",
        "properties": {
          "apply": {
            "$ref": "#/components/schemas/Apply"
          },
          "characterStyle": {
            "$ref": "#/components/schemas/CharacterStyle"
          }
        },
        "description": "Character style range defining styling for specific text ranges."
      },
      "ColorAdjustments": {
        "type": "object",
        "properties": {
          "saturation": {
            "maximum": 100,
            "minimum": -100,
            "type": "integer",
            "description": "Saturation adjustment. Range: -100 to +100",
            "format": "int32",
            "example": 20
          },
          "vibrance": {
            "maximum": 100,
            "minimum": -100,
            "type": "integer",
            "description": "Vibrance adjustment. Range: -100 to +100",
            "format": "int32",
            "example": 15
          },
          "whiteBalance": {
            "type": "string",
            "description": "White balance",
            "example": "As Shot",
            "enum": [
              "As Shot",
              "Auto",
              "Cloudy",
              "Custom",
              "Daylight",
              "Flash",
              "Fluorescent",
              "Shade",
              "Tungsten"
            ]
          }
        },
        "description": "Color adjustments for image editing."
      },
      "ColorBalance": {
        "type": "object",
        "properties": {
          "highlightLevels": {
            "maxItems": 3,
            "minItems": 3,
            "type": "array",
            "description": "Array of 3 integers for highlight levels. Each value must be between -100 and 100. Defaults to [0, 0, 0] when adding new layers. Optional for edits",
            "items": {
              "maximum": 100,
              "minimum": -100,
              "type": "integer",
              "description": "Array of 3 integers for highlight levels. Each value must be between -100 and 100. Defaults to [0, 0, 0] when adding new layers. Optional for edits",
              "format": "int32"
            }
          },
          "midtoneLevels": {
            "maxItems": 3,
            "minItems": 3,
            "type": "array",
            "description": "Array of 3 integers for midtone levels. Each value must be between -100 and 100. Defaults to [0, 0, 0] when adding new layers. Optional for edits",
            "items": {
              "maximum": 100,
              "minimum": -100,
              "type": "integer",
              "description": "Array of 3 integers for midtone levels. Each value must be between -100 and 100. Defaults to [0, 0, 0] when adding new layers. Optional for edits",
              "format": "int32"
            }
          },
          "preserveLuminosity": {
            "type": "boolean",
            "description": "Whether to preserve luminosity. Defaults to true when adding new layers. Optional for edits"
          },
          "shadowLevels": {
            "maxItems": 3,
            "minItems": 3,
            "type": "array",
            "description": "Array of 3 integers for shadow levels. Each value must be between -100 and 100. Defaults to [0, 0, 0] when adding new layers. Optional for edits",
            "items": {
              "maximum": 100,
              "minimum": -100,
              "type": "integer",
              "description": "Array of 3 integers for shadow levels. Each value must be between -100 and 100. Defaults to [0, 0, 0] when adding new layers. Optional for edits",
              "format": "int32"
            }
          }
        },
        "description": "Color balance adjustment settings"
      },
      "ColorBalanceAdjustments": {
        "required": [
          "colorBalance",
          "type"
        ],
        "type": "object",
        "description": "Color balance adjustment",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseAdjustment"
          },
          {
            "type": "object",
            "properties": {
              "colorBalance": {
                "$ref": "#/components/schemas/ColorBalance"
              }
            }
          }
        ]
      },
      "CreateArtboardRequest": {
        "required": [
          "images",
          "outputs"
        ],
        "type": "object",
        "properties": {
          "artboardSpacing": {
            "type": "integer",
            "description": "Horizontal spacing in pixels between each artboard. Defaults to 50. Optional.",
            "format": "int32"
          },
          "images": {
            "maxItems": 25,
            "minItems": 1,
            "type": "array",
            "description": "List of input images for the artboard. Each image must have a source with an external file reference (URL, Creative Cloud file ID, or Creative Cloud path). Required.",
            "items": {
              "$ref": "#/components/schemas/ArtboardImageInput"
            }
          },
          "outputs": {
            "maxItems": 25,
            "minItems": 1,
            "type": "array",
            "description": "List of output asset details. Each output specifies destination and output options. Maximum of 25 outputs allowed.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JpegOutput"
                },
                {
                  "$ref": "#/components/schemas/JsonOutput"
                },
                {
                  "$ref": "#/components/schemas/PngOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdcOutput"
                },
                {
                  "$ref": "#/components/schemas/TiffOutput"
                }
              ]
            }
          }
        }
      },
      "CreateCompositeRequest": {
        "required": [
          "image",
          "outputs"
        ],
        "type": "object",
        "properties": {
          "edits": {
            "$ref": "#/components/schemas/Edits"
          },
          "fontOptions": {
            "$ref": "#/components/schemas/FontOptions"
          },
          "image": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ImageParameters"
              },
              {
                "$ref": "#/components/schemas/ImageSource"
              }
            ]
          },
          "outputs": {
            "maxItems": 25,
            "minItems": 1,
            "type": "array",
            "description": "List of output asset details. Required. Maximum of 25 outputs allowed.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JpegOutput"
                },
                {
                  "$ref": "#/components/schemas/JsonOutput"
                },
                {
                  "$ref": "#/components/schemas/PngOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdOutput"
                },
                {
                  "$ref": "#/components/schemas/PsdcOutput"
                },
                {
                  "$ref": "#/components/schemas/TiffOutput"
                }
              ]
            }
          }
        }
      },
      "CreativeCloudDestination": {
        "required": [
          "creativeCloudPath"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Destination"
          },
          {
            "type": "object",
            "properties": {
              "creativeCloudPath": {
                "type": "string",
                "description": "Path to Creative Cloud storage. Required."
              },
              "creativeCloudProjectId": {
                "pattern": "^urn:aaid:.*",
                "type": "string",
                "description": "The Creative Cloud project ID. Optional. Must be a valid URN starting with 'urn:aaid:sc:'. Example: urn:aaid:sc:US:a21c8629-413f-55d9-..."
              }
            }
          }
        ]
      },
      "CreativeCloudFileIdResourceInput": {
        "required": [
          "creativeCloudFileId"
        ],
        "type": "object",
        "description": "Creative Cloud file ID resource input. References a resource via Creative Cloud file ID (URN).",
        "allOf": [
          {
            "$ref": "#/components/schemas/ResourceInput"
          },
          {
            "type": "object",
            "properties": {
              "creativeCloudFileId": {
                "pattern": "^urn:aaid:.*",
                "type": "string",
                "description": "The file ID of the asset in Creative Cloud. Required. Must start with 'urn:aaid' (case-insensitive)."
              }
            }
          }
        ]
      },
      "CreativeCloudResourceInput": {
        "required": [
          "creativeCloudPath"
        ],
        "type": "object",
        "description": "Creative Cloud resource input. References a resource via Creative Cloud path.",
        "allOf": [
          {
            "$ref": "#/components/schemas/ResourceInput"
          },
          {
            "type": "object",
            "properties": {
              "creativeCloudPath": {
                "type": "string",
                "description": "The path to the asset in Creative Cloud. Required."
              },
              "creativeCloudProjectId": {
                "pattern": "^urn:aaid:.*",
                "type": "string",
                "description": "The Creative Cloud project ID. Optional. Must be a valid URN starting with 'urn:aaid:sc:'. Example: urn:aaid:sc:US:a21c8629-413f-55d9-..."
              }
            }
          }
        ]
      },
      "Crop": {
        "required": [
          "bounds"
        ],
        "type": "object",
        "properties": {
          "bounds": {
            "$ref": "#/components/schemas/Bounds"
          },
          "hide": {
            "type": "boolean",
            "description": "When true, hides pixels outside the crop bounds (non-destructive). When false, permanently deletes pixels outside the crop bounds (destructive). Defaults to false."
          }
        },
        "description": "Options for cropping a document, specifying the bounds to crop to."
      },
      "CustomIccProfile": {
        "required": [
          "name",
          "source",
          "type"
        ],
        "type": "object",
        "description": "Custom ICC profile with user-provided profile file",
        "allOf": [
          {
            "$ref": "#/components/schemas/IccProfile"
          },
          {
            "type": "object",
            "properties": {
              "imageMode": {
                "type": "string",
                "description": "Image mode for custom ICC profiles. Allowed values: rgb, grayscale, cmyk. Optional",
                "example": "rgb",
                "enum": [
                  "rgb",
                  "grayscale",
                  "cmyk"
                ]
              },
              "name": {
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "description": "Custom ICC profile name. Provide a descriptive name (max 255 characters). Required.",
                "example": "U.S. Web Coated (SWOP) v2"
              },
              "source": {
                "$ref": "#/components/schemas/FileResourceInput"
              }
            }
          }
        ]
      },
      "DeleteLayer": {
        "required": [
          "operation"
        ],
        "type": "object",
        "description": "Layer for delete operations",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          }
        ]
      },
      "DeleteOperation": {
        "required": [
          "type"
        ],
        "type": "object",
        "description": "Delete operation for removing layers.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Operation"
          },
          {
            "type": "object",
            "properties": {
              "shouldIncludeChildren": {
                "type": "boolean",
                "description": "Whether to include child layers in the deletion. Optional. Default - true"
              }
            }
          }
        ]
      },
      "Destination": {
        "type": "object",
        "description": "Destination for output files. Can be either a URL with optional storage type or a Creative Cloud path."
      },
      "Dimension": {
        "type": "object",
        "properties": {
          "height": {
            "maximum": 32000,
            "minimum": 0,
            "type": "integer",
            "description": "Height after transformation. Optional.",
            "format": "int32"
          },
          "width": {
            "maximum": 32000,
            "minimum": 0,
            "type": "integer",
            "description": "Width after transformation. Optional.",
            "format": "int32"
          }
        },
        "description": "Offset coordinates for positioning elements."
      },
      "DimensionMeasurement": {
        "required": [
          "unit"
        ],
        "type": "object",
        "properties": {
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the dimension. 'pixels_unit' for absolute pixel measurements, 'percent_unit' for percentage-based scaling, 'distance_unit' for physical measurements using formula: Physical Size (points) = Pixels \u00d7 (72 \u00f7 DPI). Defaults to pixels_unit when omitted.",
            "default": "pixels_unit",
            "enum": [
              "pixels_unit",
              "percent_unit",
              "distance_unit"
            ]
          },
          "value": {
            "minimum": 0,
            "type": "integer",
            "description": "The value of the dimension. Must be greater than or equal to 0.",
            "format": "int32"
          }
        },
        "description": "Represents a dimension measurement for width or height with appropriate units."
      },
      "Document": {
        "type": "object",
        "properties": {
          "crop": {
            "$ref": "#/components/schemas/Crop"
          },
          "resize": {
            "$ref": "#/components/schemas/Resize"
          },
          "trim": {
            "$ref": "#/components/schemas/Trim"
          }
        },
        "description": "Represents the editable document structure, including resize, crop and trim options. Each field corresponds to a specific type of document edit operation."
      },
      "EditAdjustmentLayer": {
        "required": [
          "operation"
        ],
        "type": "object",
        "description": "Adjustment layer for applying image adjustments like brightness, contrast, hue/saturation, etc.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "adjustments": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BrightnessContrastAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/ColorBalanceAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/ExposureAdjustments"
                  },
                  {
                    "$ref": "#/components/schemas/HueSaturationAdjustments"
                  }
                ]
              },
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Optional for edits."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/EditPixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "EditBackgroundLayer": {
        "required": [
          "operation"
        ],
        "type": "object",
        "description": "Background layer for editing an existing background layer.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "convertToLayer": {
                "type": "boolean",
                "description": "When true, promotes the background layer to a regular layer. Mutually exclusive with image."
              },
              "convertedLayerName": {
                "type": "string",
                "description": "Name to set on the layer after conversion. Only applicable when convertToLayer is true. Optional."
              },
              "image": {
                "$ref": "#/components/schemas/ImageSource"
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/EditPixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "EditGroupLayer": {
        "required": [
          "operation"
        ],
        "type": "object",
        "description": "Group layer for organizing layers hierarchically.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/EditPixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
                "description": "Transform mode applied to the layer. Defaults to 'none' when adding layers. Optional for edits. Modes: 'none' \u2014 applies no scaling. 'fit' \u2014 scales the layer uniformly to fit within the canvas bounds while preserving aspect ratio. 'fill' \u2014 scales the layer uniformly to fill the canvas bounds while preserving aspect ratio, cropping overflow if the layer's aspect ratio differs from the canvas. 'custom' \u2014 applies the exact width and height from the Transform without preserving aspect ratio. Important for text layers: Any mode other than 'none' (or any non-identity scale on the Transform) causes the type engine to render glyphs and leading multiplied by the layer's scale factors. fontSize and lineHeight in CharacterStyle are stored unscaled. The rendered output becomes: fontSize x horizontalScale and lineHeight x verticalScale. To produce text at exact pixel sizes, use transformMode 'none' and avoid scaling Transforms on text layers.",
                "enum": [
                  "fit",
                  "fill",
                  "custom",
                  "none"
                ]
              },
              "type": {
                "type": "string",
                "description": "Layer type enum",
                "enum": [
                  "layer",
                  "solid_color_layer",
                  "text_layer",
                  "smart_object_layer",
                  "adjustment_layer",
                  "group_layer",
                  "background_layer"
                ]
              }
            }
          }
        ]
      },
      "EditImageInput": {
        "required": [
          "source"
        ],
        "type": "object",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/FileResourceInput"
          }
        },
        "description": "The image input for the edit operation. Supported input source mime types: image/jpeg, image/png, image/x-adobe-dng, image/webp, image/tiff, image/vnd.adobe.photoshop, image/x-sony-arw, and other supported raw/camera formats. Required."
      },
      "EditLayer": {
        "required": [
          "operation"
        ],
        "type": "object",
        "description": "Image layer for editing existing image layers.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "properties": {
              "blendOptions": {
                "$ref": "#/components/schemas/BlendOptions"
              },
              "image": {
                "$ref": "#/components/schemas/ImageSource"
              },
              "isClipped": {
                "type": "boolean",
                "description": "Whether the layer is clipped. Optional for edits."
              },
              "isVisible": {
                "type": "boolean",
                "description": "Whether the layer is visible. Defaults to true when adding layers. Optional for edits."
              },
              "pixelMask": {
                "$ref": "#/components/schemas/EditPixelMask"
              },
              "protection": {
                "type": "array",
                "description": "Protection flags for the layer (e.g. none, all, transparency, composite, position, artboard_autonest). Defaults to 'none' when adding layers. Optional for edits; omit, null, or empty array [] mean 'don't change'. When 'none' or 'all' is used, the array must contain only that element.",
                "items": {
                  "type": "string",
                  "description": "Protection flag for layer. Used in protection array.",
                  "enum": [
                    "none",
                    "all",
                    "transparency",
                    "composite",
                    "position",
                    "artboard_autonest"
                  ]
                }
              },
              "transform": {
                "$ref": "#/components/schemas/Transform"
              },
              "transformMode": {
                "type": "string",
[...]
